@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@media only screen and (max-width:430px) {

  #pbtm{
    height:69vh;
  }

  .bubble{
    height: 35px;
    width: 35px;
  }

  .ptop{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .elem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #HscoreElem{
    flex-direction: row;
    margin-bottom: 5px;
  }
  .box{
    margin: 5px 0px;
  }

  #pbtm{
    padding:0px 0px;
  }


  }


  @media only screen and (max-width:430px){

    .bubble{
      height: 30px;
      width: 30px;
    }

    #pbtm{
      height:85vh;
    }
  }